 .dart_tool/
 .packages
 .flutter-plugins
 .flutter-plugins-dependencies
 build/
 coverage/
 .pub/
 .pub-cache/
 .idea/
 .vscode/
 *.iml
 .DS_Store
 Thumbs.db
 *.log
 android/.gradle/
 android/local.properties
 android/app/debug.keystore
 android/build/
 android/**/captures/
 ios/Pods/
 ios/.symlinks/
 ios/Flutter/Generated.xcconfig
 ios/Flutter/ephemeral/
 ios/Flutter/App.framework
 ios/Flutter/Flutter.framework
 ios/build/
 ios/.generated/
 fastlane/report.xml
 fastlane/Preview.html
 fastlane/screenshots/
